@font-face{
  font-family: 'Gravur';
  src: url('assets/fonts/GravurCondensed-Regular.otf') format('opentype');
}


/*s-header*/
.s-header-background {
  height: 526px;
  background-size: cover;
}

.s-header-CenterContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.s-header-CenterContent img {
  height: 149px;
  width: 500px;
  right: 50px;

}

.s-header-CenterContent p{
  font-family: Gravur;
  font-size: 72px;
  color: #FFFFFF;
  font-family: 'Gravur';
}

/*s-links*/
.s-links-CenterContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 526px;
}

.s-links-CenterContent h2 {
  font-family: Gravur;
  color: #FFFFFF;
}


/*s-news*/
.s-news {
  font-family: Gravur;
  color: #FFFFFF;
}

.s-news-header {
  margin-top: 5%;
  font-size: 72px;
  color: #F52A3B;
}

.s-news-list p{
  margin: 0px;
}

.s-news-list {
  margin-bottom: 40px;
}


.s-news-list-header {
  font-size: 47px;
}

.s-news-list a{
  text-decoration: none;
  color: #FFFFFF;
}

.s-news-list a:hover {
  text-decoration: none;
  color: #F52A3B;
}



/*s-follow*/
.s-follow-background {
  height: 526px;
  background-size: cover;
}

.s-follow {
  font-family: Gravur;
  color: #FFFFFF;
}

.s-follow p {
  margin-top: 5%;
  font-size: 72px;
}

.s-follow-CenterContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.s-split {
  display: flex;
  justify-content: space-between;
}



.red {
  height: 200px;
  width: 200px;
  background: red;
  border: 1px solid black;
}

.blue {
  height: 280px;
  background: blue;
}
.green {
  height: 280px;
  background: green;
}
.orange {
  height: 280px;
  background: orange;
}
